body{
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(aaa_oficial.png);
    background-repeat: no-repeat;
    background-size: 100% 800px ;
    font-family: 'Segoe UI';
    text-align: center;
    background-color: black;
}
.cabecalho img{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 100px;
}
.cabecalho nav{
    color: white;
    float: right;
}
.cabecalho .caixa{
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-right: 200px;
    padding-top: 50px;
}
ul{
    list-style-type: none;
}
ul li {
    color: white;
    display: inline;
    margin: 50px;
    font-size: large;
    font-family: 'Segoe UI';
}
ul li a{
    color: white;
    text-decoration: none;
}
ul li:hover a{
    color: rgb(245, 218, 68);
    text-decoration: none;
}
.mens_ini{
    margin-top: 310px;
    margin-left: 0px;
}
#h1_tit{
    color: rgb(245, 218, 68);
    font-size: 50px;
    margin-top: 32px;
    

}

    .cabecalho .caixa {
        max-width: 84%;
        height: 100%;
        margin: 0 auto;
    }
    
    .cabecalho nav {
        float: right;
      }
    
    ul {
        list-style: none;
    }
    
    ul li{
    color:rgba(255, 255, 255, 0.74);
    display: inline;
    margin-left: 25px;
    font-size: larger;
    }
.sobre{
    margin-bottom: 155px;
    color: rgb(245, 218, 68);
    font-size: 35px;

}

.text_peq{
    color: white;
    font-size: 20px;
}

    .caixa_conheça{
        max-width: 84%;
        height: 420px;
        margin: 0 auto;
        background-color: white;
        padding-top: 23px;
        padding-bottom: 23px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;

    }

    .imagem_equipe1{
        width: 56%;
        height: 400px;
        background: url("equipe\ 1.jpg");
        background-repeat: no-repeat;
        text-align: center;
        background-size: cover;
        padding-top: 2%;
        float: right;
        border-radius: 5px;
    }
    .imagem_equipe2{
        width: 56%;
        height: 400px;
        background: url("Equipe\ 2.jpg");
        background-repeat: no-repeat;
        text-align: center;
        background-size: cover;
        padding-top: 2%;
        float: left;
        border-radius: 5px;
    }

    
    .caixa_meio{
        max-width: 84%;
        height: 240px;
        margin: 0 auto;
        background-color: white;
        padding-top: 23px;
        margin-top: 25px; 
        color: black;
        border-radius: 5px;

    }
    
    
    .frase{
        margin-left: 85px;
        width: 975px;
    }
    .cor{
    color:rgb(245, 218, 68);
    font-weight: 100px;
    border-bottom: 5px solid rgb(245, 218, 68);
    padding-bottom: 22px;
    font-size: 40px;

}

    .caixa_texto{
    max-width: 1140px;
    height: 470px;
    margin: 0 auto;
    background-color: white;
    padding-top: 23px;
    color: black;
    border-radius: 5px;
    

    }

    .img_baixo{
    width: 84%;
    height: 400px;
    border-radius: 5px;
    

    }

    .diretrizes{
    max-width: 1140px;
    height: 490px;
    margin: 0 auto;
    background-color: white;
    padding-top: 23px;
    color: black;
    margin-top: 45px;
    border-radius: 5px;
    margin-bottom: 45px;
    

    }
    
    .diretrizes .caixa{
        height: 300px;
        margin: auto;
        width: 100%;
        background-repeat: no-repeat;
    }
    
    .img{
        width: 100px;
        height: 100px;
    }
    
.missao{
    float:left;
     width: 300px;
     height: 350px;
     text-align: center;
     color: rgb(245, 218, 68);
     margin-left: 104px;
    margin-right: 6px rgb(245, 218, 68);


 }
 
 .visao{
     float: left;
     top:0px;
     width: 300px;
     height: 350px;
     text-align: center;
     color: rgb(245, 218, 68);
      margin-left: 30px;

 }

 .valores{
     float: left;
     width: 300px;
     height: 350px;
     text-align: center;
      color: rgb(245, 218, 68);
      margin-left: 30px;

 }
 
 .text{
     color: black;
 }

 #but_ini{
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    background-image: linear-gradient(to bottom, orange, rgb(250, 186, 68));
}

#but_ini:hover{
    transform: scale(1.2); 
}

 footer {
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;    
    text-align: center;
    line-height: 50px;
}

footer img{
    width: 50px;
    height: 50px;  
    float: left;
    margin-left: 100px;
}

#span_tel{
    float: left;
    margin-left: 110px;
}

#span_tel .bi-bi-whatsapp{
    float: left;
    margin-top: 14px;
    margin-right: 10px;
}

#span_email{
    float: left;
    margin-left: 110px;
}

#span_email .bi-bi-envelope{
    float: left;
    margin-top: 14px;
    margin-right: 10px;
}

#span_email .a:hover{
    color: rgb(245, 218, 68);
    text-decoration: none;
}

#span_tt{
    float: left;
    margin-left: 110px;
}

#span_tt .bi-bi-twitter{
    float: left;
    margin-top: 14px;
    margin-right: 10px;
}

#span_tt .a:hover{
    color: rgb(245, 218, 68);
    text-decoration: none;
}

#span_face{
    float: left;
    margin-left: 110px;
}

#span_face .bi-bi-facebook{
    float: left;
    margin-top: 14px;
    margin-right: 10px;
}

#span_face .a:hover{
    color: rgb(245, 218, 68);
    text-decoration: none;
}

#linguagem{
    margin-top: 15px;
    margin-left: 300px;
    width:150px; 
    font-family: Arial;
    border: 1px solid rgb(245, 218, 68);
    font-size: 15px;
    padding-right: 20px;
    padding-left: 30px;
    background-image: linear-gradient(to bottom, orange, rgb(245, 218, 68));
    border-radius: 40px;
}
 